:root {
  --white: #ffffff;

  --blue: #458afb;
  --light-blue: #5696ff;
  --dark-blue: #0d2839;

  --dark-grey: #86939c;
  --grey: #b9c2c9;
  --light-grey: #f2f5f8;

  --yellow: #ffbd27;
  --orange: #fe6845;
  --green: #9ecb45;

  /*disable #D5DADF*/

  /* semantic */
  --color-background: var(--light-grey);
  --color-button: var(--yellow);
  --color-text-primary: var(--dark-blue);
  --color-text-secondary: var(--dark-grey);
  --color-shadow: rgba(0, 0, 0, 10%);
  --color-required: var(--orange);
  --color-disabled: #d5dadf;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text-primary);
  background: var(--color-background);
  line-height: 1.6em;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 15px;
}
